{% extends "base-red.html" %}
{% block content %}
	<div class="card grey lighten-4">
		<div class="card-content">
		<span class="card-title">Fichiers additionnels en Algorithmique</span>
		<span class="card-content">Tous les liens rouges redirigent vers des liens externes !</span>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 1 - Chapitre 1 : CamL vs Algo</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S1/Algorithmiques/td1-s1-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/1/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 1 - Chapitre 4 : List Toolbox</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S1/Algorithmiques/td4-s1-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/2/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 1 - Chapitre 6 : Les listes</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S1/Algorithmiques/td6-s1-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/3/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 1 - Chapitre 8 : Imperative is not iterative</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S1/Algorithmiques/td8-s1-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/4/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 1 - Chapitre 9 : TD répetitif</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S1/Algorithmiques/td9-s1-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/5/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 1 - Chapitre 10 : String</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S1/Algorithmiques/td10-s1-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/6/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 2 - Chapitre 12 : Matrices</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S2/Algorithmiques/td12-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/7/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 2 - Chapitre 13 : Arbres Binaires (ARB)</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S2/Algorithmiques/td13-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/8/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 2 - Chapitre 14 : AVL</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S2/Algorithmiques/td14-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/9/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 3 - Chapitre 1 : Arbres Généraux</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S3/Algorithmiques/td1-s3-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/10/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 3 - Chapitre 3 : Graphes</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S3/Algorithmiques/S3_td3-graphs_fr.pdf/">Sujet</a>
			<a class="waves-effect waves-light red btn" href="pdf/11/">Correction</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 4 - Archives Git</span>
			<a class="waves-effect waves-light red btn" href="pdf/12/">Corrections</a>
	</div></div>
{% endblock %}
