{% extends "base-red.html" %}
{% block content %}
    <h4>Vous trouverez ici toutes les corrections qu'on a pu rassembler :</h4>
	<div class="card cyan lighten-4">
		<div class="card-content">
			<span class="card-title">Corrections</span>
			<a class="waves-effect waves-light btn" href="/secret/Mathematiques/">Mathématiques</a>
	</div></div>
    <div class="card cyan lighten-4">
		<div class="card-content">
			<span class="card-title">Corrections</span>
			<a class="waves-effect waves-light btn" href="/secret/Algorithmique/">Algorithmiques</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
			<span class="card-title">Annales QCM</span>
			<a class="waves-effect waves-light btn" href="/secret/THL/">THL</a>
	</div></div>
	<p>Les liens des corrections renvoient vers des dépots externes au site. Si vous avez peur de ces liens car vous êtes parano (n'est-ce pas Satan 2019 ?), et bien vous
	n'aviez qu'à prendre la correction pendant les cours !</p>
{% endblock %}
