{% extends "base-red.html" %}
{% block content %}
	<div class="card grey lighten-4">
		<div class="card-content">
		<span class="card-title">Fichiers additionnels en Mathematiques</span>
		<span class="card-content">Tous les liens rouges redirigent vers un lien externe !</span>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 2 - Algebre Lineaire I</span>
			<a class="waves-effect waves-light red btn" href="pdf/2/">Correction TD Partie 1</a>
			<a class="waves-effect waves-light red btn" href="pdf/3/">Correction TD Partie 2</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 3 - Les series</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S3/Mathematiques/Series_numeriques.pdf/">Sujet TD</a>
			<a class="waves-effect waves-light red btn" href="pdf/1/">Correction TD</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 3 - Algebre Lineaire I</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S3/Mathematiques/Algebre_lineaire_I.pdf/">Sujet TD</a>
			<a class="waves-effect waves-light red btn" href="pdf/4/">Correction TD</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 3 - Algebre Lineaire II</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S3/Mathematiques/Algebre_lineaire_II.pdf/">Sujet TD</a>
			<a class="waves-effect waves-light red btn" href="pdf/5/">Correction TD</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 4 - Intégrales Généralisées</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S4/Mathematiques/Integrales_generalisees.pdf/">Sujet TD</a>
			<a class="waves-effect waves-light red btn" href="pdf/6/">Correction TD</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 4 - Espaces Préhilbertiens</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S4/Mathematiques/Les_espaces_prehilbertiens.pdf/">Sujet TD</a>
			<a class="waves-effect waves-light red btn" href="pdf/7/">Correction TD</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 4 - Suites et séries de fonctions</span>
			<ul>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/2022/S4/Mathematiques/Suites_series_fonction_td.pdf/">Sujet TD</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light red btn" href="pdf/8/">Correction TD Suites (Exercice n°1 à 7)</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light red btn" href="pdf/9/">Correction TD Series (Exercice n°8 à 15)</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light red btn" href="pdf/10/">Correction TD Fourier (Exercice n°16 à 19)</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light red btn" href="pdf/11/">Correction TD Fin (Exercice n°19 à 21)</a></li>
			</ul>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Promo 2022 - Semestre 4 - Fonctions à deux variables</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S4/Mathematiques/Fonctions_deux_variables.pdf/">Sujet TD</a>
			<a class="waves-effect waves-light red btn" href="pdf/12/">Correction TD</a>
	</div></div>
{% endblock %}