{% extends "base-red.html" %}
{% block content %}
	<div class="card grey lighten-4">
		<div class="card-content">
		<span class="card-title">Fichiers "additionnels" pour les revisions de THL</span>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Exam THL 2019</span>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-1.pdf/">Partie 1</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-2.pdf/">Partie 2</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-3.pdf/">Partie 3</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-4.pdf/">Partie 4</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-5.pdf/">Partie 5</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-6.pdf/">Partie 6</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-7.pdf/">Partie 7</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-8.pdf/">Partie 8</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-9.pdf/">Partie 9</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-10.pdf/">Partie 10</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-11.pdf/">Partie 11</a>
	    <a class="waves-effect waves-light red btn" href="/pdf/2022/S5/THL/THL_Part-12.pdf/">Partie 12</a>
	</div></div>
	{% endblock %}
