{% extends "base.html" %}
{% block content %}
	<h2>Semestre 1 | QCM</h2>
	<p>
		Liste des différents QCM :
	</p>
	<div id="chapitre">
		<h3>QCM du 07/09/2017</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_1.pdf/">Sujet</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 08/09/2017</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_2.pdf/">Sujet</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 11/09/2017</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_3.pdf/">Sujet</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 12/09/2017</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_4.pdf/">Sujet</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 14/09/2017</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_5.pdf/">Sujet</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 15/09/2017</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_6.pdf/">Sujet</a></li>
		</ul>
	</div>
{% endblock %}