{% extends "base.html" %}
{% block content %}
	<h2>Semestre 2 | Programmation</h2>
	<p>
		Liste des différents TP :
	</p>
	<div id="chapitre">
		<h3>TP 4 : Game Of Life</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TP</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>TP 5 : Ordre Superieur</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TP</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>
{% endblock %}