{% extends "base.html" %}
{% block content %}
	<h2>Semestre 1 | Architecture des ordinateurs</h2>
	<p>
		Liste des différents chapitres :
	</p>
	<div id="chapitre">
		<h3>Chapitre 1 : Outils Mathématiques</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td-s1-01.pdf/">Sujet du TD</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Chapitre 2 : Numérotation et changement de base</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td-s1-02.pdf/">Sujet du TD</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Chapitre 3 : Opérations</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td-s1-03.pdf/">Sujet du TD</a></li>
		</ul>
	</div>
{% endblock %}