{% extends "base.html" %}
{% block content %}
	<h2>Semestre 1 | QCM</h2>
	<p>
		Liste des différents QCM :
	</p>
	<div id="chapitre">
		<h3>QCM du 08/10/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01.pdf/">Sujet</a></li>
			<li><a href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01-c.txt/">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 15/10/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-02.pdf/">Sujet</a></li>
			<li><a href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-02-c.txt/">Correction</a></li>
		</ul>
	</div>
	<!--<div id="chapitre">
		<h3>QCM du 22/10/2018</h3>
		<ul id="details-chapitre">
			<!--<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01.pdf/">Sujet</a></li>
			<li><a href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01-c.txt/">Correction</a></li>
		</ul>
	</div>-->
	<div id="chapitre">
		<h3>QCM du 19/11/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-04.pdf/">Sujet</a></li>
			<!--<li><a href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01-c.txt/">Correction</a></li>-->
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 26/11/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-05.pdf/">Sujet</a></li>
			<!--<li><a href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01-c.txt/">Correction</a></li>-->
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 03/12/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-06.pdf/">Sujet</a></li>
			<!--<li><a href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-S1-01-c.txt/">Correction</a></li>-->
		</ul>
	</div>
{% endblock %}
