{% extends "base.html" %}
{% block content %}
	<h2>Semestre 1 | QCM</h2>
	<p>
		Liste des différents QCM :
	</p>
	<div id="chapitre">
		<h3>QCM du 13/09/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm1-seminaire-sujet.pdf/">Sujet</a></li>
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm1-seminaire-correction.txt/">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 14/09/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm2-seminaire-sujet.pdf/">Sujet</a></li>
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm2-seminaire-correction.txt/">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 17/09/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm3-seminaire-sujet.pdf/">Sujet</a></li>
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm3-seminaire-correction.txt/">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 18/09/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm4-seminaire-sujet.pdf/">Sujet</a></li>
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm4-seminaire-correction.txt/">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 19/09/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm5-seminaire-sujet.pdf/">Sujet</a></li>
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm5-seminaire-correction.txt/">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>QCM du 20/09/2018</h3>
		<ul id="details-chapitre">
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm6-seminaire-sujet.pdf/">Sujet</a></li>
			<li><a href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/qcm6-seminaire-correction.txt/">Correction</a></li>
		</ul>
	</div>
{% endblock %}