{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD0 : Des problèmes et des graphes</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/algo-s4-td0.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/build_Eulerian_cycle.pdf/">Cours cycle Euler</a>
			<a class="waves-effect waves-light btn" href="/pdf/py/{{ annee }}/{{ semestre }}/{{ matiere }}/Euler_tofix.py/">Exercices Euler</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD1 : Une ville, un réseau, la lune, un train et une souris</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/algo-s4-td1.pdf/">Sujet</a>
		</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Midterm</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-midterm-s4-Algo.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-midterm-s4-Algo-r.pdf/">Feuille réponses 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-midterm-s4-Algo-c.pdf/">Correction 2021</a>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Cours Algo</span>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_Algo_1.pdf/">Présentation ARPM</a>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_Algo_2.pdf/">Cours Algo PRIM</a>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_Algo_3.pdf/">Cours Algo KRUSKAL</a>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_Algo_4.pdf/">Cours Algo EDMONDS</a>
	</div></div>
{% endblock %}