{% extends "base.html" %}
{% block content %}
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Programme de Mathématiques</span>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Programme_Maths_S4.pdf/">Fiche</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 1 : Intégrales Généralisées</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Integrales_generalisees.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 2 : Les espaces préhilbertiens</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Les_espaces_prehilbertiens.pdf/">Sujet</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Controle TD 3</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-s4-ctd3.pdf/">Correction 2022</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Midterm</span>
			<ul>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-midterm-s4-Maths.pdf/">Sujet 2021</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-midterm-s4-Maths_en.pdf/">Sujet 2021 Anglais</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-midterm-s4-Maths-c.pdf/">Correction 2021</a></li>
			</ul>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Cours : Suites et séries de fonctions</span>
			<ul>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_suites_fonctions.pdf/">Cours suites</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_series_fonctions.pdf/">Cours séries</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Fiche_Serie_CVU.pdf/">Fiche CVU séries</a></li>
				<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_series_fourier.pdf/">Cours Fourier</a></li>
			</ul>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 3 : Suites et séries de fonctions</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Suites_series_fonction_td.pdf/">Sujet</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Controle TD 4</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-s4-ctd4.pdf/">Sujet 2021 Anglais</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2021-s4-ctd4-c.pdf/">Correction 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-s4-ctd4.pdf/">Sujet 2022</a>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Cours : Fonctions à deux variables</span>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_fonction_variables.pdf/">Cours Fonctions</a>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Schema_graphique.pdf/">Schéma graphique</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 4 : Fonctions à deux variables</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Fonctions_deux_variables.pdf/">Sujet</a>
	</div></div>
{% endblock %}
