{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 21/01/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2020-S4-01.pdf/">Sujet 2020</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2021-S4-01.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-02.pdf/">Sujet 2022</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-02-c.jpg/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 28/01/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2021-S4-03.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-03.pdf/">Sujet 2022</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-03-c.pdf/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 04/02/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2021-S4-04.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-04.pdf/">Sujet 2022</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-04-c.pdf/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 11/02/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2021-S4-05.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-05-c.pdf/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 18/03/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2021-S4-06.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-06.pdf/">Sujet 2022</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-06-c.pdf/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 26/03/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2021-S4-07.pdf/">Sujet 2021</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-07.pdf/">Sujet 2022</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-07-c.pdf/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 01/04/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-08.pdf/">Sujet 2022</a>
			<p><i class="tiny material-icons">announcement</i> Attention la correction de l'Anglais est érronée !</p>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-08-c.pdf/">Correction 2022</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 08/04/2019</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-09.pdf/">Sujet 2022</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/QCM-2022-S4-09-c.pdf/">Correction 2022</a>
	</div></div>
{% endblock %}
