{% extends "base.html" %}
{% block content %}
	<h2>Semestre 1 | Anglais</h2>
	<p>
		Liste des différents documents :
	</p>
	<div id="chapitre">
		<h3>Documents débuts d'année</h3>
		<ul id="details-chapitre">
			<li><a href="#">CIE : English Survival Package</a></li>
			<li><a href="#">TIM : Technology in the media</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Documents support</h3>
		<ul id="details-chapitre">
			<li><a href="#">Points Of Views</a></li>
		</ul>
	</div>
{% endblock %}