{% extends "base-red.html" %}
{% block content %}
	<div class="card white lighten-4">
		<div class="card-content">
		<span class="card-title">TP Programmation Optionnel</span>
		<span class="card-content">Voici quelques TP de Programmation organisés par GConfs</span>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TP : HOW TO BEAT AN ACDC</span>
		<a class="waves-effect waves-light btn" href="/pdf/2022/GConfs/How_to_beat_an_acdc.pdf/">Sujet</a>
		<a class="waves-effect waves-light btn" href="/pdf/zip/2022/GConfs/HOW_TO_BEAT_AN_ACDC_101.zip/">Archive .zip</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TP : Hashcat</span>
		<a class="waves-effect waves-light btn" href="/pdf/2022/GConfs/TP-Hashcat.pdf/">Sujet</a>
	</div></div>
	<!--<img src="/static/hyperion/img/Gconf_Satan.png" height="300"/>-->
{% endblock %}
