{% extends "base.html" %}
{% block content %}
    <h2>Bienvenue sur l'accueil de la promo des 2022</h2>
    <div class="card green lighten-3">
        <div class="card-content">
        <span class="card-title">Informations</span>
        <span class="card-content">
        <p>Vous pouvez trouver des prises de notes sur les cours de réseau, de système, complexité algorithmique, probabiliés discrètes et mathématiques du signal.</p>
        <p>Il s'agit de notes personnelles et ne sont pas nécessairement suffisantes pour vos examens et rattrapages.</p>
        <p>Merci de votre compréhension</p>
        </span></span></div>
    </div>
    <a href="/pdf/docs/planningS6.png"><img style="width: inherit" src="/pdf/docs/planningS6.png"></a>
{% endblock %}
