{% extends "base.html" %}
{% block content %}
	<h2>Bienvenue sur l'accueil de la promo des 2022</h2>
	<p>Programme de révision des partiels :</p>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Mathématiques</span>
		<span class="card-content"><ul>
			<li>Projection orthogonale et calcul de minimum</li>
			<li>Suites de fonctions</li>
			<li>Séries de fonctions</li>
			<ul>
				<li>Séries</li>
				<li>Séries de Fourier</li>
				<li>Parseval</li>
				<li>Dirichlet</li>
			</ul>
			<li>Fonctions à deux variables</li>
		</ul>
	</span>
	</div></div>
	<div class="card orange lighten-4">
		<div class="card-content">
		<span class="card-title">Algorithmiques</span>
		<span class="card-content"><ul>
			<li>Plus court chemin :</li><ul>
				<li>Savoir et comprendre (savoir modifier) :</li><ul>
					<li>Djikstra</li>
					<li>Bellman</li>
				</ul>
				<li>Juste connaître :</li><ul>
					<li>Floyd</li>
				</ul>
			</ul>
			<li>ARPM :</li><ul>
				<li>PRIM</li>
				<li>KRUSKAL</li>
			</ul>
		</ul>
	</span>
	</div></div>
	<div class="card yellow lighten-4">
		<div class="card-content">
		<span class="card-title">Physique (à vérifier/compléter)</span>
		<span class="card-content"><ul>
			<li>QCM</li>
			<li>Midterm</li>
			<li>Théorème d'Ampère</li>
			<li>Opérateurs vectoriels</li>
			<li>Equations de Maxwell</li>
		</ul>
	</span>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Electronique</span>
		<span class="card-content"><ul>
			<li>CMOS</li>
			<li>Transistors à effet de champ</li>
			<li>Amplificateurs Opérationnels</li>
		</ul>
	</span>
	</div></div>
	<div class="card teal lighten-4">
		<div class="card-content">
		<span class="card-title">Architecture des Ordinateurs</span>
		<span class="card-content"><ul>
			<li>Annales de l'année dernière</li>
		</ul>
	</span>
	</div></div>
	<div class="card blue lighten-4">
		<div class="card-content">
		<span class="card-title">Ouverture Culturelle</span>
		<span class="card-content"><ul>
			<li>Film <i>Inside Job</i> en entier</li>
			<li>Ted Talk sur la Globalisation</li>
			<li>Midterm</li>
		</ul>
	</span>
	</div></div>
{% endblock %}
