{% extends "base.html" %}
{% block content %}
	<h2>Semestre 2 | Algorithmiques</h2>
	<p>
		Liste des différents chapitres :
	</p>
	<div id="chapitre">
		<h3>Chapitre 1 : Matrices</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TD</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Chapitre 2 : Arbres Binaires (ABR)</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TD</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Chapitre 3 : AVL</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TD</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>
{% endblock %}