{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 07/09/2017</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_1.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 08/09/2017</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_2.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 11/09/2017</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_3.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 12/09/2017</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_4.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 14/09/2017</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_5.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">QCM du 15/09/2017</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/sup_2022_qcm_seminaire_6.pdf/">Sujet</a>
	</div></div>
{% endblock %}