{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Documents débuts d'année</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/English-Survival-Package.pdf/">CIE : English Survival Package</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Technology-in-the-media.pdf/">TIM : Technology in the media</a>
		</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Midterm</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/midterm-s1-cie.pdf/">Sujet CIE</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/midterm-s1-tim.pdf/">Sujet TIM</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-Midterm-TE-Sujet.pdf/">Sujet TE</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Partiel</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/partiel-s1-tim-sujet.pdf/">Sujet TIM</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/partiel-s1-tim-reponses.pdf/">Feuille réponses TIM</a>
		</div></div>
{% endblock %}
