{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 9 : Système de numérotation entière</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td1-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td1-s2-correction.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 10 : Système de numérotation flottante</span>
		<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours-numerotation.pdf/">Cours</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td2-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td2-s2-correction.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 11 : Les bascules</span>
		<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours-bascules.pdf/">Cours</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td3-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td3-s2-correction.pdf/">Correction</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Midterm</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/midterm-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/midterm-s2-correction.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 12 : Les compteurs</span>
		<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours-compteur.pdf/">Cours</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td4-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td4-s2-correction.pdf/">Correction</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/fiche-compteurs.pdf/">Fiche compteurs</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 13 : Assemblage de mémoire</span>
		<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours-memoires.pdf/">Cours</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td5-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td5-s2-correction.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 14 : Décodage d'adresse</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td6-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td6-s2-correction.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 15 : Lecture d'une ROM</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/td7-s2-sujet.pdf/">Sujet</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Partiel</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/partiel-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/partiel-s2-correction.pdf/">Correction</a>
	</div></div>
{% endblock %}