{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 7 : Suites Artimético-géométriques</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TD7-s2-cours.pdf/">Cours</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TD7-s2-sujet.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 8 : Suites</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TD8-s2-sujet.pdf/">Sujet</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Contrôle TD3</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/ctrltd3-s2-sujet.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 9 : Algèbre Linéaire 1</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TD9-s2-cours.pdf/">Sujet</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Midterm</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/midterm-s2-sujet.pdf/">Sujet</a>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 10 : Algèbre Linéaire 2</span>
			<a class="waves-effect waves-light btn blue" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TD10-s2-cours.pdf/">Cours</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Contrôle TD4</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/ctrltd4-s2-sujet.pdf/">Sujet</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Chapitre 11 : Fractions rationnelles</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TD11-s2-cours.pdf/">Sujet</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Partiel</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/partiel-s2-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/partiel-s2-corrige.pdf/">Correction</a>
	</div></div>
{% endblock %}
