{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Cours Amphi</span>
		<p>Il manque le cours du 08/10/19</p>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours_sys_1.pdf/">Cours du 01/10/19 au 05/11/19</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours_sys_2.pdf/">Cours du 12/11/19 et du 03/12/19</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours_sys_3.md/">Cours du 12/12/19</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/cours_sys_4.md/">Cours du 17/12/19</a>
	</div></div>
{% endblock %}
