{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Slides Amphi</span>
			<ul>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/00-Introduction.pdf/">00 - Introduction</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/01-project.pdf/">01 - Project</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/02-parser-scanner.pdf/">02 - Parser Scanner</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/03-dev-tools.pdf/">03 - Dev Tools</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/04-ast.pdf/">04 - AST</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/05-names.pdf/">05 - Names</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/06-type-checking.pdf/">06 - Type Checking</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/07-intermediate.pdf/">07 - Intermediate</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/08-instruction-selection.pdf/">08 - Instruction Selection</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/09-liveness.pdf/">09 - Liveness</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/10-regalloc.pdf/">10 - Regalloc</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/11-instruction-scheduling.pdf/">11 - Instruction Scheduling</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Compilateur/12-garbage-collection.pdf/">12 - Garbage Collection</a></li>
			</ul>
	</div></div>
{% endblock %}