{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Slides Amphi</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S6/Telecoms/Telecom-revolution.pdf/">Télécom Cours 1</a>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S6/Telecoms/Telecom-01.pdf/">Télécom Cours 1</a>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S6/Telecoms/Telecom-02.pdf/">Télécom Cours 2</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Vidéos</span>
			<a class="waves-effect waves-light btn" href="https://www.youtube.com/watch?v=GEx_d0SjvS0">About 5G - IEEE Spectrum</a>
			<a class="waves-effect waves-light btn" href="https://www.youtube.com/watch?v=LRmun1Kc1Mk">About 5G - Les Echos</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Tableau Amphi</span>
			<a class="waves-effect waves-light btn" href="/pdf/2022/S6/Telecoms/telecom-t01.pdf/">Cours du 17/02/2020</a>
	</div></div>
{% endblock %}
