{% extends "base.html" %}
{% block content %}
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">Slide Amphi</span>
			<ul>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Typologie/01-history.pdf/">01 - History</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Typologie/02-early-languages.pdf/">02 - Early Languages</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Typologie/03-subprograms.pdf/">03 - Subprograms</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Typologie/04-object.pdf/">04 - Object</a></li>
			<li><a class="waves-effect waves-light btn" href="/pdf/2022/S6/Typologie/05-generics.pdf/">05 - Generics</a></li>
			</ul>
	</div></div>
{% endblock %}