<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Les exams, les TD et les corrections de l'EPITA"/>
	<meta name="keywords" content="annales, examens, exams, TD, correction, corrigés, epita, sup, spe"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/png" href="https://static.hyperion.tf/hyperion/img/favicon.ico">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
	<title>HyperAnnales - EPITA</title>
</head>

<body style="background-color: #eeeeee">
<div class="row">
<header class="">
	<h1 class="center" style="color:#000000;">HyperAnnales</h1>
</header>
<div class="divider"></div>
<div class="col s3">
	
	<ul class="collapsible collapsible-accordion">
    <li>
		<div class="collapsible-header">Semestre 1</div>
		<div class="collapsible-body"><span>
			<ul>
				<li><a href="/{{ annee }}/S1/Seminaire">Séminaire</a></li>
				<li><a href="/{{ annee }}/S1/Mathematiques">Mathématiques</a></li>
				<li><a href="/{{ annee }}/S1/Algorithmiques">Algorithmiques</a></li>
				<li><a href="/{{ annee }}/S1/Physique">Physique</a></li>
				<li><a href="/{{ annee }}/S1/Electronique">Electronique</a></li>
				<li><a href="/{{ annee }}/S1/Architecture">Architecture</a></li>
				<li><a href="/{{ annee }}/S1/SH">SH</a></li>
				<li><a href="/{{ annee }}/S1/QCM">QCM</a></li>
			</ul></span>
		</div>
	</li>
    <li>
      <div class="collapsible-header">Semestre 2</div>
		<div class="collapsible-body"><span>
			<ul>
				<li><a href="/{{ annee }}/S2/Mathematiques">Mathématiques</a></li>
				<li><a href="/{{ annee }}/S2/Algorithmiques">Algorithmiques</a></li>
				<li><a href="/{{ annee }}/S2/Physique">Physique</a></li>
				<li><a href="/{{ annee }}/S2/Electronique">Electronique</a></li>
				<li><a href="/{{ annee }}/S2/Architecture">Architecture</a></li>
				<li><a href="/{{ annee }}/S2/SH">SH</a></li>
				<li><a href="/{{ annee }}/S2/QCM">QCM</a></li>
			</ul></span>
		</div>
    </li>
    <li>
      <div class="collapsible-header">Semestre 3</div>
		<div class="collapsible-body"><span>
			<ul>
				<li><a href="/{{ annee }}/S3/Mathematiques">Mathématiques</a></li>
				<li><a href="/{{ annee }}/S3/Algorithmiques">Algorithmiques</a></li>
				<li><a href="/{{ annee }}/S3/Physique">Physique</a></li>
				<li><a href="/{{ annee }}/S3/Electronique">Electronique</a></li>
				<li><a href="/{{ annee }}/S3/Architecture">Architecture</a></li>
				<li><a href="/{{ annee }}/S3/SH">SH</a></li>
				<li><a href="/{{ annee }}/S3/Programmation">Programmation</a></li>
				<li><a href="/{{ annee }}/S3/QCM">QCM</a></li>
			</ul></span>
		</div>
    </li>
	<li>
      <div class="collapsible-header">Semestre 4</div>
		<div class="collapsible-body"><span>
			<ul>
				<li><a href="/{{ annee }}/S4/Mathematiques">Mathématiques</a></li>
				<li><a href="/{{ annee }}/S4/Algorithmiques">Algorithmiques</a></li>
				<li><a href="/{{ annee }}/S4/Physique">Physique</a></li>
				<li><a href="/{{ annee }}/S4/Electronique">Electronique</a></li>
				<li><a href="/{{ annee }}/S4/Architecture">Architecture</a></li>
				<li><a href="/{{ annee }}/S4/SH">SH</a></li>
				<li><a href="/{{ annee }}/S4/Programmation">Programmation</a></li>
				<li><a href="/{{ annee }}/S4/QCM">QCM</a></li>
			</ul></span>
		</div>
    </li>
	{% if annee == 2022 %}
		<li>
		<div class="collapsible-header">Semestre 5</div>
			<div class="collapsible-body"><span>
				<ul>
					<li><a href="/{{ annee }}/S5/Complexite">Complexité</a></li>
					<li><a href="/{{ annee }}/S5/Reseau">Réseaux</a></li>
					<li><a href="/{{ annee }}/S5/Systeme">Système</a></li>
					<li><a href="/{{ annee }}/S5/THL">THL</a></li>
					<li><a href="/{{ annee }}/S5/Mathematiques">Mathématiques</a></li>
				</ul></span>
			</div>
		</li>
		<li>
		<div class="collapsible-header">Semestre 6</div>
			<div class="collapsible-body"><span>
				<ul>
				<li><a href="/{{ annee }}/S6/Mathematiques">Mathématiques</a></li>
					<li><a href="/{{ annee }}/S6/Marketing">Base Marketing</a></li>
					<li><a href="/{{ annee }}/S6/Compilateur">Compilateur</a></li>
					<li><a href="/{{ annee }}/S6/SEDE">Sécurité Développement</a></li>
					<li><a href="/{{ annee }}/S6/Telecoms">Télécom</a></li>
					<li><a href="/{{ annee }}/S6/Typologie">Typologie Langages</a></li>
				</ul></span>
			</div>
		</li>
		<li><a href="/{{ annee }}/GConfs" style="color:black;"><div class="collapsible-header waves-effect">GConfs</div></a></li>
	{% endif %}
	{% if user.is_authenticated %}
		<li><div class="waves-effect"><form class="logout-link" action="/logout/" method="POST">
				{% csrf_token %}
				<button class="collapsible-header red waves-effect btn-large" type="submit">Déconnexion</button>
			</form></div>
		</li>
		{% else %}
		<li><a href="/login/?next={{ request.path }}" style="color:black;"><div class="collapsible-header waves-effect">Connexion</div></a></li>
		<li><a href="/signup" style="color:black;"><div class="collapsible-header waves-effect">S'incrire</div></a></li>
		{% endif %}
	</ul>
</div>
<div class="col s9">
	<div class="col s12">
		{% if matiere != None %}
		<nav>
			<div class="nav-wrapper grey">
			<div class="col s12">
				<a href="/2022" class="breadcrumb">{{ annee }}</a>
				<a class="breadcrumb">{{ semestre }}</a>
				<a class="breadcrumb">{{ matiere }}</a>
			</div>
			</div>
		</nav>
		{% endif %}
		
		{% block content %}{% endblock %}
	</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>           
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
<script>
 $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
</body>   
</html>

