{% extends "base-red.html" %}
{% block content %}
	<h2>Bienvenue sur HyperAnnales</h2>
	<p>
		Ce site permet aux Epithéens d'accéder aux TP et à leurs corrections. Ainsi qu'aux différentes épreuves (QCM, Midterm, Partiels).
	</p>
	
	<div class="card blue lighten-4">
		<div class="card-content">
		<span class="card-title">Entrez dans le site !</span>
			<a class="waves-effect waves-light btn" href="/2022/">2022</a>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Information</span>
		<p>Une mise à jour majeure du site est actuellement en développement. Les ajouts de fichiers seront plus rare jusqu'à mise en production de la nouvelle version</p>
		<p>Merci de votre compréhension</p>
	</div></div>
{% endblock %}
