{% extends "base.html" %}
{% block content %}
	<h2>Semestre 3 | Anglais</h2>
	<!--<p>
		Liste des différents documents :
	</p>
	<div id="chapitre">
		<h3>Documents débuts d'année</h3>
		<ul id="details-chapitre">
			<li><a href="#">CIE : English Survival Package</a></li>
			<li><a href="#">TIM : Technology in the media</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Documents support</h3>
		<ul id="details-chapitre">
			<li><a href="#">Points Of Views</a></li>
		</ul>
	</div>-->
	<div id="E404">
		<h1 id="E404T">¯\_(ツ)_/¯</h1>
		<p>Il n'y a rien pour l'instant !</p>
	</div>
{% endblock %}