{% extends "base.html" %}
{% block content %}
	<h2>Semestre 3 | Mathématiques</h2>
	<!--<p>
		Liste des différents chapitres :
	</p>
	<div id="chapitre">
		<h3>Chapitre 1 : Les nombres complexes</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TD</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>
	<div id="chapitre">
		<h3>Chapitre 3 : Les Espaces Vectoriels</h3>
		<ul id="details-chapitre">
			<li><a href="#">Sujet du TD</a></li>
			<li><a href="#">Correction</a></li>
		</ul>
	</div>-->
	<div id="E404">
		<h1 id="E404T">¯\_(ツ)_/¯</h1>
		<p>Il n'y a rien pour l'instant !</p>
	</div>
{% endblock %}