{% extends "base.html" %}
{% block content %}
	<h2>Bienvenue sur l'accueil de la promo des 2023</h2>
	<h3>A l'abandon</h3>
	<p>Comme je n'arrive pas scanner suffisamment, j'abandonne cette partie du site. Pour les annales de l'année dernière, allez dans la section <a href="/2022/">2022</a>, sinon allez sur <a href="https://github.com/Epinnal/SUP/tree/master">Epinnard</a>.</p>
	<img src="/static/hyperion/img/Epinnal.PNG">
	<p>Vous pouvez toujours accéder aux quelques fichiers que j'ai pu rassembler néanmoins.</p>
{% endblock %}
