{% extends "base.html" %}
{% block content %}
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Initiation à l'assembleur 68000</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/Cours_01.pdf/">Cours PDF</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-M68000PRM.pdf/">Manuel de référence</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-EASy68KQuickRef.pdf/">Fiche récapitulative</a>
	</div></div>
	<div class="card green lighten-4">
		<div class="card-content">
		<span class="card-title">Installation et utilisation</span>
			<ul>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-Installation_Windows.pdf/">Installation pour Windows</a></li>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/zip/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-TP_68000_Windows.zip/">Fichiers installation Windows</a></li>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-Installation_Ubuntu32.pdf/">Installation pour Ubuntu 32 bits</a></li>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/zip/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-TP_68000_Ubuntu32.tar.gz/">Fichiers installation Ubuntu 32 bits</a></li>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-Installation_Ubuntu64.pdf/">Installation pour Ubuntu 64 bits</a></li>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/zip/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-TP_68000_Ubuntu64.tar.gz/">Fichiers installation Ubuntu 64 bits</a></li>
			<li style="margin-bottom: 15px;"><a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/annexes-d68k.pdf/">Manuel d'utilisation</a></li>
			</ul>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD1 : Premiers pas en assembleur</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_01.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_01_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD2 : Les branchements et les boucles</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_02.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_02_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD3 : La pile et les sous-programmes</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_03.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_03_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD4 : Calculatrice (partie 1)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_04.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_04_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD5 : Calculatrice (partie 2)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_05.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_05_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD6 : Calculatrice (partie 3)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_06.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_06_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Midterm</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-s3-archi-midterm-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-s3-archi-midterm-correction.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD7 : Calculatrice (partie 4)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_07.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_07_Corrige.pdf/">Correction</a>
			<a class="waves-effect waves-light btn" href="/pdf/zip/{{ annee }}/{{ semestre }}/{{ matiere }}/GetInput.bin/">GetInput.bin</a>
			
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD8 : Space Invaders (partie 1)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_08.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_08_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD9 : Space Invaders (partie 2)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_09.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_09_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card cyan lighten-4">
		<div class="card-content">
		<span class="card-title">TD10 : Space Invaders (partie 3)</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_10.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/TP_10_Corrige.pdf/">Correction</a>
	</div></div>
	<div class="card red lighten-4">
		<div class="card-content">
		<span class="card-title">Partiel</span>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-s3-archi-partiel-sujet.pdf/">Sujet</a>
			<a class="waves-effect waves-light btn" href="/pdf/{{ annee }}/{{ semestre }}/{{ matiere }}/2022-s3-archi-partiel-correction.pdf/">Correction</a>
	</div></div>
{% endblock %}
